 /* Popup container */
 .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    visibility: hidden;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } 


   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255,255,255,.95); /* Black w/ opacity */
    padding: 10%;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .plants{
    background: antiquewhite;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 0 1px rgba(0,0,0,.08); 
    border-radius: 4px;
  }
 

  .headlogo{
    width: 60px;
  }

  .btn2{
    display: inline-block;
    padding: 10px 15px;
    background-color: #6bb7be;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #6bb7be;
    -webkit-transition: all .2s;
    transition: all .2s;
  }

  .btn1 {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f89646;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #f89646;
    -webkit-transition: all .2s;
    transition: all .2s;  
  }
  
.mb-6 { margin-bottom: 1.5rem; }

.noticemessage{
  position: fixed;
  top:0;
  left: 40%;
  background: rgb(14, 116, 14);
  color:white;
  font-size: large;
  padding: 20px 60px 10px;
  z-index: 99999;
  margin-top: 15px;
}